body {
  background: radial-gradient(
    circle at 10% 20%,
    rgba(216, 241, 230, 0.46) 0.1%,
    rgba(233, 226, 226, 0.28) 90.1%
  );
  font-family: "Kanit", sans-serif;
  font-family: "Pixelify Sans", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Raleway", sans-serif;
}
a {
  color: #f76b8a;
}
.weather-app {
  background-color: #fcfefe;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

header {
  border-bottom: 1px solid #eaf6f6;
  padding: 0 0 30px 0;
}

.search-form {
  display: flex;
}
.search-form-input {
  flex: 1;
  background: radial-gradient(
    circle at 10% 20%,
    rgba(216, 241, 230, 0.46) 0.1%,
    rgba(233, 226, 226, 0.28) 90.1%
  );
  color: rgba(0, 0, 0, 0.6);
  font-style: italic;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background-color: #f76b8a;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  margin-left: 5px;
  width: 20%;
  padding: 10px 10px 10px 10px;
}

main {
  padding: 30px 0;
}

.weather-data {
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.8);
}

.weather-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-details {
  font-size: 16px;
  line-height: 20px;
}

.weather-details #description {
  font-weight: bold;
  color: #f76b8a;
}
.weather-details strong {
  font-weight: 500;
  color: #66bfbf;
}

.weather-temperature-container {
  display: flex;
}
.weather-icon {
  width: 88px;
  height: 88px;
  margin-top: 10px;
  margin-left: 10px;
}
.weather-temperature {
  font-size: 88px;
  font-weight: bold;
  line-height: 88px;
  margin-top: 10px;
}
.weather-unit {
  margin-top: 10px;
  font-size: 28px;
}
footer {
  border-top: 1px solid #eaf6f6;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  padding: 30px 0 0 0;
  text-align: center;
}
.weather-forecast {
  border-top: 1px solid #eaf6f6;
  margin-top: 20px;
  padding-top: 30px;
  text-align: center;
  color: 000;
}
.weather-forecast-date,
.weather-forecast-temperature-minimum {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperature {
  font-size: 13px;
}
